section.action
  div.action__background
    div.container 
      div.row.end-lg.start-xs 
        div.col-lg-12 
          h2.action__bigtitle Notre conciergerie s'occupe de tout
          p.action__text La gestion de votre location saisonnière clé en main :

      div.row.between-lg
        div.col-lg-2.col-xs-12
          div.action__item 
            div.action__img 
            h3.action__title Création et optimisation de votre annonce Airbnb
      
        div.col-lg-2.col-xs-12
          div.action__item.action__item--reverse
            div.action__img 
            h3.action__title Création et optimisation de votre annonce Airbnb

          div.col-lg-2.col-xs-12
            div.action__item 
              div.action__img 
              h3.action__title Création et optimisation de votre annonce Airbnb
        
          div.col-lg-2.col-xs-12
            div.action__item.action__item--reverse 
              div.action__img 
              h3.action__title Création et optimisation de votre annonce Airbnb

          div.col-lg-2.col-xs-12
            div.action__item 
              div.action__img 
              h3.action__title Création et optimisation de votre annonce Airbnb