extends ./layout.pug

block head
    title Home Page

block content
    
    include ./Partials/service.pug
    include ./Partials/action.pug
    include ./Partials/stats.pug
    include ./Partials/faq.pug

script(src="./scripts/index.js")        